<h1><cufon class="cufon cufon-canvas" alt="Storyteller" style="width: 364px; height: 36px;"><canvas width="409" height="37" style="width: 409px; height: 37px; top: 0px; left: 0px;"></canvas><cufontext>Storyteller</cufontext></cufon></h1>
  <h3>Blog entries so far</h3>
<br/> <br />

<table id="blogslist" style="    width: 97%;
    padding: 2em;
    margin: 1em;
    border-top: 1px dashed;
    border-bottom: 1px dashed;">
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>

  <% @blogs.each do |article| %>
    <tr data-tt-id="<%=article.year%>">
      <td>
        <%= article.year %>
      </td>
      <td />
    </tr>
    <tr data-tt-id="<%=article.month%>" data-tt-parent-id="<%=article.year%>">
      <td>
        <%= article.month %>
      </td>
      <td />
    </tr>
    <tr data-tt-id="<%=article.date%>" data-tt-parent-id="<%=article.month%>">
      <td>
        <%= link_to('blog/'+article.id.to_s) do %>
          <%= article.title %>
        <% end %>
      </td>
      <td><%= article.author %></td>
    </tr>
  <% end %>
</table>
<script>
  $("#blogslist").treetable({expandable: true});
</script>
